[submodule "application/sandbox"]
	path = application/sandbox
	url = https://github.com/Ragingram2/Arbrook-Sandbox.git
[submodule "modules/arbrook/graphics/third_party/glfw"]
	path = modules/arbrook/graphics/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/arbrook/graphics/third_party/imgui"]
	path = modules/arbrook/graphics/third_party/imgui
	url = https://github.com/Rythe-Interactive/imgui.git
[submodule "modules/arbrook/input/third_party/gainput"]
	path = modules/arbrook/input/third_party/gainput
	url = https://github.com/Ragingram2/gainput.git
[submodule "modules/arbrook/physics/third_party/JoltPhysics"]
	path = modules/arbrook/physics/third_party/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "modules/arbrook/core/third_party/assimp"]
	path = modules/arbrook/core/third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "modules/arbrook/core/third_party/Rythe-Standard-Library"]
	path = modules/arbrook/core/third_party/Rythe-Standard-Library
	url = https://github.com/Rythe-Interactive/Rythe-Standard-Library.git
[submodule "modules/arbrook/core/third_party/tracy"]
	path = modules/arbrook/core/third_party/tracy
	url = https://github.com/wolfpld/tracy.git
